html{
  height: 100%;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

code {

}

.row {
  height: 100%;
}

.col {
  height: 100%;
  padding: 0;
}

/* NAVBAR */
.navCol{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoCol {
 height: 100%;

}

#logoLink{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2%;
  margin-top: 0;
  margin-bottom: 0;
  height: 70%; 
  padding: 2%;
  color: black;
}

.navLink:hover {
  box-shadow: 0 5px 2px rgba(0,0,0,0.3);
}


#contactBtn{
  border: solid 2px orange;
}


/* FOOTER */

hr{
  width: 95%;
  border-style: solid;
  border-width: 0.5px;
}

.InfoRow {
  height: 40%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stayConnectedCol {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.shortOfferCol {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigateCol {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyrightStuffRow {
  width: 100%;
  height: 12%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.copyrightStuffCol {
  margin: 0;
  display: flex;
  align-items: center;
}

.legalStuffRow {
  width: 100%;
  height: 12%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.legalStuffCol {
  margin: 0;
  display: flex;
  align-items: center;
}