html{
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color:#0f2027;
  
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  
}

#root{
  height: 100%;
  width: 100%;
  
}



.row {
  height: 100%;
}

.col {
  height: 100%;
  padding: 0;
}




/* NAVBAR */
.navCol{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logoCol {
 height: 100%;

}

#logoLink{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2%;
  margin-top: 0;
  margin-bottom: 0;
  height: 70%; 
  padding: 2%;
  color: black;
}

.navLink:hover {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}


#contactBtn{
  border: solid 2px #179D1C;
}


/* HOME */

/* #banner{
  font-family: Aquatico;
} */


/* Middle */
  .callToActionLink{
    color: black;
  }

  .callToAction:hover {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
  }



/* FOOTER */

hr{
  width: 60%;
  border-style: solid;
  border-width: 0.5px;
  color: #179D1C
}

@media only screen and (max-width: 1055px) {
  hr{
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  hr{
    width: 95%;
  }
}

.footerLink{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4%;
  margin-top: 0;
  margin-bottom: 0;
  height: 70%; 
  color: black;
}

@media (min-width: 498px) {
  .linkAndImageLine{ display: none; }
}

@media (max-width: 497px) {
  .linkAndImageLine{ 
    display: inline-block;
  }
}

@media only screen and (max-width:497px) {
  .footerLink {
    width: 33%;
      justify-content: center;
      margin: 0;
      font-size: 1.1rem;
  }
} 

@media only screen and (max-width: 800px) {
    .footerLink{
      margin: 3%;
    }
}

@media only screen and (max-width: 630px) {
  .footerLink{
    margin: 2%;
  }
}

@media only screen and (max-width:775px) {
  .whyBreak {
    display: inline-block;
  }
} 

@media only screen and (min-width:776px) {
  .whyBreak {
    display: none;
  } 
} 



.legalFooterLink{
  margin: 0;
  align-self: center;
  color: black;
}

.legalFooterLinkShort{
  margin: 0;
  align-self: center;
  color: black;
}

@media (min-width: 498px) {
  .legalFooterLink{ display: inline-block; }
  .legalFooterLinkShort{ display: none; }
}

@media (max-width: 497px) {
  .legalFooterLink{ display: none; }
  .legalFooterLinkShort{ display: inline-block; }
}

@media (min-width: 498px) {
  .legal{ display: inline-block; }
  .legalShort{ display: none; }
}

@media (max-width: 497px) {
  .legal{ display: none; }
  .legalShort{ display: inline-block; }
}

